<div style="min-height: 90vh">
  <app-nav></app-nav>
  <div class="adStiriSuceava col-sm-12 mt-2 mb-2">
    <h1 class="font-weight-bold">Reclama ta aici!</h1>
    <h2>{{'Pentru mai multe detalii trimite-ne un e-mail la adresa '}}
      <a href="mailto:office.bestride@gmail.com?subject=Reclama%20Stiri%20Suceava
    &body=Salut%2C%0D%0A%0D%0AAs%20dori%20sa%20inchiriez%20banner-ul%20de%20pe%20site-ul%20Stiri%20Suceava.%20Imi%20poti%20trimite%20mai%20multe%20detalii%3F%0D%0ANume%20companie%20%2F%20reclama%3A%0D%0APersoana%20de%20contact%3A%20%0D%0A%0D%0AMersi!">
        office.bestride@gmail.com</a></h2>
  </div>
  <mat-card class="wrapper offset-3 col-sm-6 text-center">
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle class="mt-2 col-sm-12">
      <span class="col-sm-6">{{article.date}}</span>
    </mat-card-subtitle>
    <mat-card-content class="row mt-4">
      <a href="{{article.link}}" target="_blank">
        <img mat-card-image class="article-image" src="{{article.imgSrc}}" alt="{{article.title}}">
      </a>
      <p class="col-sm-12">
        {{article.content}}
        <br><br>
        <span class="col-sm-6 text-left">Sursa: <span [innerHTML]="article.source"></span></span>
        <br>
        Știrea completă o găsiți accesând următorul <a href="{{article.link}}" target="_blank">link</a>.
      </p>
    </mat-card-content>
    <mat-card-actions class="col-sm-12 text-center">
      <button class="btn btn-primary mb-3" [routerLink]="['']">Mai multe știri</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer></app-footer>
