<app-nav></app-nav>
<div class="adStiriSuceava col-sm-12 mt-4 mb-4">
  <h1 class="font-weight-bold">Reclama ta aici!</h1>
  <h2>{{'Pentru mai multe detalii trimite-ne un e-mail la adresa '}}
    <a href="mailto:office.bestride@gmail.com?subject=Reclama%20Stiri%20Suceava
    &body=Salut%2C%0D%0A%0D%0AAs%20dori%20sa%20inchiriez%20banner-ul%20de%20pe%20site-ul%20Stiri%20Suceava.%20Imi%20poti%20trimite%20mai%20multe%20detalii%3F%0D%0ANume%20companie%20%2F%20reclama%3A%0D%0APersoana%20de%20contact%3A%20%0D%0A%0D%0AMersi!">
      office.bestride@gmail.com</a></h2>
</div>

<div class="row col-sm-12">

  <div id="articles" class="offset-3 col-sm-6">
    <h2>Știri din județul Suceava:</h2>
    <img src="../../assets/adback.jpg" style="width: 500px"/>
    <ng-container *ngFor="let article of articles let i = index" >
      <div *ngIf="i < limit" class="article row">
        <div class="col-sm-12 col-md-3">
          <a class="article-link" [routerLink]="['/articol', article._id]">
            <img src="{{article.imgSrc}}" class="article-img"/>
          </a>
        </div>
        <div class="col-sm-12 offset-md-1 col-md-8">
          <h1 class="article-title">
            <a class="article-link" [routerLink]="['/articol', article._id]">{{article.title}}</a>
          </h1>
          <h2 class="article-preview">
            <a class="article-link-preview" [routerLink]="['/articol', article._id]">
              {{article.preview}}
            </a>
          </h2>
        </div>
        <div class="row col-sm-12 mt-3">
          <h4 class="col-sm-12 col-md-4 article-source">Știre de pe: <span [innerHTML]="article.source"></span></h4>
          <h4 class="col-sm-12 col-md-8 text-right">{{article.date}}</h4>
        </div>
        <hr class="col-sm-12">
      </div>
    </ng-container>
  </div>

  <div *ngIf="moreNews" class="col-sm-12 text-center">
    <button class="btn btn-primary mb-3" (click)="increaseLimit()">Mai multe știri</button>
  </div>
</div>

<app-footer></app-footer>

